/* for all  */
*{padding: 0; margin: 0; box-sizing: border-box;}
html{font-family: 'roboto'; font-size: 16px; color: #333; background-color: white;}

section{
padding: 40px 0px;
}
h2{
text-transform: uppercase;
font-size: 1.6rem;
margin-bottom: 15px;
letter-spacing: 2px;
text-align: center;
}
hr{
background-color:  orange;
width: 100px;
border: solid 2px orange;
margin: 20px auto;
}

/*_________header____________*/
header{ 
min-height: 100vh;
background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(../images/hero.jpg);
background-position: center;
background-size: cover;
}
/* nav  */
.logo{
height: 200px;
float: left;
margin-top: 50px;
}
.main-nav{

list-style: none;
margin-top: 90px;
display: inline-block;
position: absolute;
margin-left: 20%;

}
.main-nav li{
display: inline-block;
margin-right: 20px;
}
.main-nav li a{
font-size: 20px;
color: white;
text-decoration: none;
text-transform: uppercase;
}
.main-nav li a:hover{
color: orangered;
text-decoration: underline;
}
/* /nav  */

.hero-box{
position: absolute;
top: 60%; left: 22%;
}
h1{
color: white;
text-transform: uppercase;
font-size: 2rem;
margin-bottom: 30px;
line-height: 130%;
letter-spacing: 2px;
}
.btn{
border: solid orange 1px;
color: orange;
text-decoration: none;
margin-right: 15px;
padding: 10px 20px;
border-radius: 10px;
}
.btn:hover{
color: white;   
background-color: orange;
}
/*/__________header__________ */


/* sec 1 >> features  */

.feat-text{
width: 68%;
margin-left: 20%;
margin-bottom: 30px;
font-size: 113%;
line-height: 150%;
}
.box{
text-align: center;
}
.box-txt{
display: inline-block;
width: 70%;
margin-left: 20px;
}
.box h3{
border-right:solid 1px orange;
padding-right: 20px;
margin-bottom: 10px;
margin-left: 50px;
}
.box i{
color: orange;
font-size: 50px;
margin-bottom: 10px;
}


/* sec 2 >> meals */

#meals{
width: 100%;
overflow: hidden;
}

.meals{
padding: 0px;
margin: 0;
background-color:black;
overflow: hidden;
}
.meal{
padding: 0;
background-color: black;
overflow: hidden;
}
.meal img{
width: 100%;
opacity: .6;
transition: 3s;
transform: scale(1.2);
}
.meal img:hover{
opacity: 1;
transform: scale(1) rotate(360deg);
}

/* sec 3 >> work */
.left-work{
text-align: right;
padding-right: 3%;
}
.left-work img{
width: 40%;
}
#works{background-color: #eee;}

.right-work{
text-align: left;
padding-left: 3%;
padding-top: 70px;
}
.right-work p{
margin-left: 10px;
}
.step{
display: flex;
margin-bottom: 20px;
}
.step div{
margin-left: 20px;
width: 50px; 
height: 50px;
border: solid 2px orange;
border-radius: 50%;
text-align: center;
padding: 12px;
}

.download{
margin-right: 15px;
}
.download img{
height: 50px;
}

/* sec 4 >> cities */
.city img{
width: 100%;
margin-bottom: 10px;
}
.city h3{
margin-bottom: 10px;
}
.city-info{
display: flex;
margin-bottom: 10px;
}
.city-info i{
color: orange;
margin-right: 15px;
}
/*  sec 5 >> testimonials */

#testimonials{
background-image:  linear-gradient(rgba(0, 0, 0,.7) , rgba(0,0,0 ,.7) )
, url(../images/back-customers.jpg);
background-position: center;
background-size: cover;
color: white;
}

#testimonials i{
font-size: 40px;
margin-left: -60px; 
margin-bottom: 20px;
}
#testimonials p{
margin-bottom: 20px;
font-style: italic;
}

#testimonials img{
height: 50px;
border-radius: 50%; 
margin-right: 20px; 
vertical-align: middle;
}

/* sec 6 >> offers */
.sign-up{
    margin-left: 35%;
    border-radius: 30px;
}
.card-body{
    border-top: 3px solid rgb(214, 211, 211);
    border-bottom: 3px solid rgb(214, 211, 211);
}
.btn:hover{
    color: white;
}

/* sec 7 >> contact */
label{
color: orange;
font-size: 18px;
}
input[type=text] , input[type=email] , select , textarea{
width: 100%;
padding: 7px;
margin-bottom: 15px;
border: solid #ccc 2px;
border-radius: 5px;
}
input[type=checkbox]{
margin-bottom: 30px;
}
button{
border: solid orange 2px;
padding: 20px 40px;
background-color: orange;
color: white;
border-radius: 20px;
font-size: 24px;
}
button:hover{
background-color: transparent;
color: orange;
}
/* footer */
footer{
padding: 30px 0px;
background-color: #333;
}
footer p{
color: #ddd;
text-align: center;
margin-top: 30px;
}
.footer-nav{
float: left;
list-style: none;
}

.footer-nav li{
display: inline-block;
margin-right: 10px;
}
.footer-nav li a{
color: #888;
text-decoration: none;
text-transform: capitalize;
}
.footer-nav li a:hover{
color:#ddd;
text-decoration: underline;

}



.social-nav{
float: right;
list-style: none;
}
.social-nav li{
display: inline-block;
margin-right: 10px;
}
.social-nav li a{
color: #888;
text-decoration: none;
text-transform: capitalize;
}
.social-nav li a:hover{
color: #ddd ;
text-decoration: underline;
}








